@import url(http://fonts.googleapis.com/earlyaccess/notosanskr.css);

body {
  margin: 40px 10%;
  font-family: 'Noto Sans KR', 'Roboto', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}